/* início da formatação da página inicial */
* {
	margin: 0 auto;
	padding: 0;
}

body {
	overflow-x: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

#banner {
	width:100%;
	height: 100%;
	background-image: url("../imagens/banner.jpg");
	background-attachment: fixed;
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
}

#div-banner{
	padding: 100px;
}

.titulo-banner {
	color: white;
	font-size: 1.8em;
	text-shadow: 1px 2px black;
}

.span {
	color: gold;
}

#botao-inicial {
	width: 30%;
	padding: 10px;
	border-radius: 10px;
	font-size: 1.1em;
	font-weight: bold;
	color: goldenrod;
	border-color: goldenrod;
	background-color: #CCCCCC;
}

#botao-inicial:hover {
	font-size: 1.3em;
	cursor: pointer;
	color: #CCCCCC;
	border-color: #CCCCCC;
	background-color: goldenrod;
}

.principal{
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.principal-missao {
	display: flex;
	flex-direction: column;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center;
	margin-bottom: 20px;
	color: goldenrod;
	text-shadow: 1px 1px #CCCCCC;
	font-size: 2em;
}

.strong-alura {
	color: gold;
	text-shadow: 1px 1px black;
}

p {
	text-align: center;
	font-size: 1.4em;
	margin-bottom: 20px;
}

#missao {
	font-size: 20px;
	margin-top: 15px;
}

.beneficios {
	background-image: linear-gradient(90deg, white, gray, black);
	padding: 20px;
	margin-top: 20px;
	width: 100%;
	height: 570px;
}

.lista {
	width: 35%;
	margin-top: 100px;
}

.itens {
	font-style: italic;
	font-weight: bold;
	font-size: 1.5em;
	color: goldenrod;
	text-shadow: 1px 1px black;
	margin-bottom: 10px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 45%;
	border: 2px solid gold;
	margin-top: 25px;
}

.sectionAntesDoFooter {
	display: flex;
	flex-direction: column;
}

#botao-antes-do-footer {
	width: 100%;
	padding: 7px;
	border-radius: 10px;
	font-size: 1.1em;
	font-weight: bold;
	color: goldenrod;
	border-color: goldenrod;
	background-color: #CCCCCC;
	margin-bottom: 40px;
	margin-top: 20px;
}

#botao-antes-do-footer:hover {
	font-size: 1.5em;
	cursor: pointer;
	color: #CCCCCC;
	border-color: #CCCCCC;
	background-color: goldenrod;
}
/* fim da formatação da página inicial */



/* início da formatação da página de produtos */
.header-produtos {
	background-color: #bbb;
}

.logo {
	width: 70%;
	margin-left: 20px;
}

nav {
	width: 30%;
	position: absolute;
	top: 110px;
	right: 0;
	display: flex;
	flex-direction: row;
}

nav a {
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	margin-left: 20px;
}

nav a:hover {
	color: goldenrod;
	text-shadow: 1px 1px #CCCCCC;
}

.produtos {
	display: flex;
	margin-top: 15px;
	width: 100%;
	margin-bottom: 20px;
}

.divisoes{
	border: 1px solid goldenrod;
	padding: 10px;
	width: 29%;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	position: relative;
}

.divisoes h2 {
	font-weight: bolder;
	color: goldenrod;
	font-size: 1.8em;
	text-shadow: 1px 1px #bbb;
}

.divisoes:hover {
	font-size: 1.2em;
	border-color: black;
	cursor: pointer;
}

.texto {
	margin-top: 10px;
	margin-bottom: 45px;
	font-size: 1.2em;
	font-weight: bold;
}

.valor {
	color: goldenrod;
	text-shadow: 1px 1px #bbb;
	font-size: 1.4em;
	font-weight: bold;
	position: absolute;
    bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 5px;
}
/* fim da formatação da página de produtos */


/* início da formatação da página de contatos */
.section-formulario {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	margin-bottom: 30px;
}

.titulo {
	margin-bottom: 15px;
	color: goldenrod;
	text-shadow: 1px 2px gray;
}

.formulario {
	border:1px solid goldenrod;
	border-radius: 20px;
	width: 70%;
	height: 100%;
	padding: 15px;
}

.formulario label {
	font-size: 1.2em;
	font-weight: bold;
	color: #bbb;
	text-shadow: 1px 1px black;
}

#nomeCompleto {
	margin-bottom: 20px;
	margin-top: 5px;
	width: 50%;
	padding: 7px;
	border-color: goldenrod;
	color: goldenrod;
}

#email {
	margin-bottom: 20px;
	margin-top: 5px;
	width: 50%;
	padding: 7px;
	border-color: goldenrod;
	color: goldenrod;
}

#telefone {
	margin-bottom: 20px;
	margin-top: 5px;
	width: 50%;
	padding: 7px;
	border-color: goldenrod;
	color: goldenrod;
}

textarea {
	margin-bottom: 20px;
	width: 50%;
	max-width: 70%;
	padding: 7px;
	height: 100px;
	color: black;
	font-size: large;
	border-color: goldenrod;
}

.tituloContato {
	color: goldenrod;
	text-shadow: 1px 1px black;
}

#contatoWhatsapp {
	margin-bottom: 15px;
	color: goldenrod;
}

#contatoEmail {
	margin-bottom: 15px;
}

#contatoTelefone {
	margin-bottom: 15px;
}

#checkbox {
	margin-top: 30px;
	margin-bottom: 40px;
}

#cor {
	color: goldenrod;
}

.escolha {
	margin-bottom: 40px;
}

.escolha h3 {
	color: goldenrod;
	text-shadow: 1px 1px black;
}

.escolha select {
	margin-top: 5px;
	width: 40%;
	padding: 3px;
	color: goldenrod;
	font-weight: bold;
	font-size: large;
}

.botao {
	width: 30%;
	padding: 7px;
	border-radius: 10px;
	font-size: 1.1em;
	font-weight: bold;
	color: goldenrod;
	border-color: goldenrod;
	background-color: #CCCCCC;
}

.botao:hover {
	font-size: 1.5em;
	cursor: pointer;
	color: #CCCCCC;
	border-color: #CCCCCC;
	background-color: goldenrod;
}
/* fim da formatação da página de contatos */



/* início da formatação do rodapé*/
.rodape {
	background-image: url("../imagens/bg.jpg");
	display: flex;
	flex-direction: column;
}

.display-rodape {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
}

.logo-rodape {
	margin-left: 30%;
}

.div-tabela {
	margin-left: 60%;
	margin-top: 10px;
	padding: 10px;
}

.tabela {
	border: 1px solid white;
	padding: 15px;
	width: 260px;
	height: 100%;
}

.tabela thead {
	background-color: white;
	color: goldenrod;
}

.tabela th {
	padding: 7px;
}

.tabela tbody tr td {
	color: white;
}

.rodape p {
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 1px 1px black;
	margin-bottom: 10px;
}
/* fim da formatação do rodapé*/