/* início da formatação da página inicial */
* {
	margin: 0 auto;
	padding: 0;
}

#banner {
	width:100%;
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}
/* fim da formatação da página inicial */

/* início da formatação da página de produtos */
.header-produtos {
	background-color: #bbb;
}

.logo {
	width: 70%;
	margin-left: 20px;
}

nav {
	width: 30%;
	position: absolute;
	top: 110px;
	right: 0;
	display: flex;
	flex-direction: row;
}

nav a {
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	margin-left: 20px;
}
/* fim da formatação da página de produtos */